<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nową kategorię książki</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Dodaj nową kategorię</h2>
    <form action="#" th:action="@{/admin/dodaj-kategorie}" method="post" class="bc-form" th:object="${category}">
        <label class="category-name" for="categoryName">Nazwa</label>
        <input type="text" id="categoryName" placeholder="np. Thriller" th:field="*{name}">
        <label class="description-text" for="bookShortDescription">Opis - max 500 znaków</label>
        <textarea id="bookShortDescription" rows="5" th:field="*{description}"></textarea>
        <button type="submit">Dodaj</button>
    </form>
</main>
</body>
</html>