<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title th:text="|${book.title} - YourBooks|">Tytuł książki - Your Books</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="book">
            <div class="book-summary">
                <img th:if="${book.poster != null}" th:src="@{/img/{poster}(poster=${book.poster})}" />
                <img th:if="${book.poster == null}" th:src="@{img/poster-placeholder.png}"
                     alt="tytuł książki"
                     th:alt="${book.title}"
                     class="book-summary-cover"/>
                <div class="book-summary-info">
                    <h1 class="book-summary-title" th:text="${book.title}">Gdzie śpiewają raki</h1>
                    <p class="book-summary-author" th:text="${book.author}">Delia Owens</p>
                    <p class="book-summary-item" th:text="|Rok: ${book.releaseYear}|">Rok: 2018</p>
                    <p class="book-summary-item">Kategoria: <a href="#"
                                                               th:href="@{|/kategoria/${book.category}|}"
                                                               th:text="${book.category}">Literatura piękna</a>
                    </p>
                    <p class="book-summary-item" th:text="${book.shortDescription}">
                        Światowa sensacja, bijący wszelkie rekordy fenomen, który przykuł uwagę ponad 13 milionów czytelników.
                    </p>
                </div>
            </div>
            <div class="book-rating-container book-section">
                <h2 class="book-section-heading">Ocena</h2>
                <p th:unless="${book.ratingCount}">Brak głosów</p>
                <div th:if="${book.ratingCount}">
                    <p class="book-rating-value" th:text="${#numbers.formatDecimal(book.avgRating, 1, 1)}">8.5</p>
                    <p class="number-of-ratings" style="text-align: center" th:text="|Liczba ocen: ${book.ratingCount}|">Liczba ocen: 215</p>
                </div>
                <form action="#" th:action="@{/ocena-ksiazki}" method="post"
                      sec:authorize="isAuthenticated()"
                      class="book-rating-form">
                    <p>Twoja ocena</p>
                    <input type="hidden" name="bookId" th:value="${book.id}">
                    <div class="book-rating-buttons">
                        <button class="book-rating-button"
                        name="rating"
                        th:each="i: ${#numbers.sequence(1, 5)}"
                        th:value="${i}">
                            <i class="fa-star" th:classappend="${i <= userRating ? 'fa-solid' : 'fa-regular'}"></i>
                        </button>
                    </div>
                </form>
                <p sec:authorize="!isAuthenticated()" class="login">
                    <a href="#" th:href="@{/login}" class="input">Zaloguj się</a>, aby oddać głos</p>
            </div>
        </section>
        <section class="book-section">
            <h2 class="book-section-heading">Opis</h2>
            <p class="description" th:text="${book.description}">Pogłoski o Dziewczynie z Bagien latami krążyły po Barkley Cove, sennym miasteczku u wybrzeży Karoliny Północnej. Dlatego pod koniec 1969 roku, gdy na mokradłach znaleziono ciało przystojnego Chase’a Andrewsa, miejscowi zwrócili się przeciwko Kyi Clark, zwanej Dziewczyną z Bagien.
                Lecz Kya nie jest taka, jak o niej szepczą. Wrażliwa i inteligentna, zdołała sama przetrwać wiele lat na bagnach, które nazywa domem, choć jej ciało tęskniło za dotykiem i miłością. Przyjaźni szukała u mew, a wiedzę czerpała z natury. Kiedy dzikie piękno dziewczyny intryguje dwóch młodych mężczyzn z miasteczka, Kya otwiera się na nowe doznania — i dzieją się rzeczy niewyobrażalne.
                Nie potrafię wyrazić, jak bardzo ujęła mnie ta książka! Chciałam, aby opowieść trwała bez końca!
                REESE WITHERSPOON</p>
        </section>
    </main>
</div>
</body>
</html>