<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się - YourBooks</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Zaloguj się</h2>
    <form action="" th:action="@{login}" method="post" class="bc-form">
        <p th:if="${param.error}"
           th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
           class="bc-form-message">
            Błąd logowania
        </p>
        <p th:if="${param.logout}" class="bc-form-message">
            Zostałeś wylogowany.
        </p>
        <label for="username">Adres email</label>
        <input id="username" name="username" placeholder="nazwa użytkownika">
        <label for="password">Hasło</label>
        <input id="password" name="password" placeholder="hasło" type="password">
        <button type="submit">Zaloguj się</button>
        <p class="registration-link">Nie masz jeszcze konta? <a href="#" th:href="@{/rejestracja}">Zarejestruj się</a> </p>
    </form>
</main>
</body>
</html>